<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/normalize.css" />
    <link rel="stylesheet" href="/skeleton.css" />
    <title>New Budget Item</title>
</head>
<body>
    <div class="container">
        <h1>Add a new item</h1>
        <form action="/budgets" method="POST">
            <input type="text" name="date" placeholder="Date"><br/>
            <input type="text" name="name" placeholder="Name"><br/>
            <input type="text" name="amount" placeholder="Amount"><br/>
            <input type="text" name="from" placeholder="From"><br/>
            <p>Add multiple tags by separating them with a coma (i.e. tag1,tag2)</p>
            <input type="text" name="tags" placeholder="Tags"><br/>
            <input type="submit" value="Add To List">
        </form>
    </div>
</body>
</html>